{% extends 'base.html.twig' %}

{% block title %}Hello GameLifeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    #game-of-life {
        border: 2px solid black;
    }
</style>

<div class="example-wrapper">
    <h1>Game Of Life</h1>

    <input id="game-of-life-width" type="number" value="100">
    <input id="game-of-life-height" type="number" value="100">
    <button onclick="window.gameOfLife.draw()">Create</button>
    <button onclick="window.gameOfLife.draw2()">Create2</button>
    <button onclick="window.gameOfLife.start()">Start</button>
    <button onclick="window.gameOfLife.start2()">Start2</button>
    <button onclick="window.gameOfLife.stop()">Stop</button>
    <button onclick="window.gameOfLife.test1()">Test1</button>
    <button onclick="window.gameOfLife.test2()">Test2</button>
    <button onclick="window.gameOfLife.speedtest1()">speed test1</button>
    <br>
    <canvas id="game-of-life"></canvas>
</div>

<script>
    document.addEventListener("DOMContentLoaded", init);

    function init() {
        window.gameOfLife = new GameOfLife();
        window.gameOfLife.draw();
    }

    class GameOfLife {
        constructor() {
            this.arrFields = [];
            this.size = 5;
            this.width = 100;
            this.height = 100;
            this.timeInterval = 100;
            this.canvas = document.getElementById("game-of-life");
            this.canvas.width = this.width * this.size;
            this.canvas.height = this.height * this.size;
            if (this.canvas.getContext) {
                this.ctx = this.canvas.getContext("2d");
            }
            this.timerId = null;
            this.tempArrFields = [];
        }

        draw() {
            this.width = document.getElementById("game-of-life-width").value;
            this.height = document.getElementById("game-of-life-height").value;
            this.canvas.width = this.width * this.size;
            this.canvas.height = this.height * this.size;
            this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);


            for (let i = 0; i < this.height; i++) {
                this.arrFields[i] = [];
                for (let j = 0; j < this.width; j++) {
                    if (Math.random() > 0.5) {
                        this.ctx.fillStyle = "black";
                        this.ctx.fillRect (j * this.size, i * this.size, this.size, this.size);
                        this.arrFields[i][j] = 1;
                    } else {
                        this.ctx.fillStyle = "black";
                        this.ctx.strokeRect(j * this.size, i * this.size, this.size, this.size);
                        this.arrFields[i][j] = 0;
                    }
                }
            }
        }

        draw2() {
            this.width = document.getElementById("game-of-life-width").value;
            this.height = document.getElementById("game-of-life-height").value;
            this.canvas.width = this.width * this.size;
            this.canvas.height = this.height * this.size;
            this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);
            this.arrFields = [];

            for (let i = 0; i < this.height; i++) {
                this.arrFields[i] = [];
                for (let j = 0; j < this.width; j++) {
                    if (Math.random() > 0.5) {
                        this.ctx.fillStyle = "black";
                        this.ctx.fillRect (j * this.size, i * this.size, this.size, this.size);
                        this.arrFields[i].push(j);
                    } else {
                        this.ctx.fillStyle = "black";
                        this.ctx.strokeRect(j * this.size, i * this.size, this.size, this.size);
                    }
                }
            }
        }

        start() {
            let that = this;
            this.timerId = setInterval(function() {
                let tempArrFields = [];
                for (let i = 0; i < that.height; i++) {
                    tempArrFields[i] = that.arrFields[i].slice();
                    for (let j = 0; j < that.width; j++) {
                        let count = that.getLifeNeighbors(i, j);

                        if (that.arrFields[i][j] && count !== 2 && count !== 3) {
                            that.ctx.clearRect(j * that.size, i * that.size, that.size, that.size);
                            that.ctx.fillStyle = "black";
                            that.ctx.strokeRect (j * that.size, i * that.size, that.size, that.size);
                            tempArrFields[i][j] = 0;
                        } else if (!that.arrFields[i][j] && count === 3) {
                            that.ctx.fillStyle = "black";
                            that.ctx.fillRect(j * that.size, i * that.size, that.size, that.size);
                            tempArrFields[i][j] = 1;
                        }
                    }
                }
                for (let i = 0; i < that.height; i++) {
                    that.arrFields[i] = tempArrFields[i].slice();
                }
            } , this.timeInterval);
        }

        start2() {
            let that = this;
            this.timerId = setInterval(function() {
                let tempArrFields = [];
                let checkedPoint = [];
                tempArrFields[0] = [];
                for (let row = 0; row < that.height; row++) {
                    tempArrFields[row] = [];
                }

                for (let i = 0; i < that.height; i++) {
                    for (let j = 0; j < that.arrFields[i].length; j++) {
                        for (let l = -1; l < 2; l++) {
                            for (let k = -1; k < 2; k++) {
                                let coord = that.checkCoordinates(i + l, that.arrFields[i][j] + k);
                                let m = coord[0];
                                let n = coord[1];
                                if (that.checkPoint(m, n)) {
                                    // checkedPoint.push(m + '-' + n);
                                    if (tempArrFields[m].indexOf(n) === -1) {
                                        tempArrFields[m].push(n);
                                    }
                                }
                            }
                        }
                    }
                }
                for (let i = 0; i < that.height; i++) {
                    that.arrFields[i] = tempArrFields[i].slice();
                }
            } , this.timeInterval);
        }

        checkPoint(x, y) {
            let count = 0;
            for (let i = -1; i < 2; i++) {
                for (let j = -1; j < 2; j++) {
                    if (i === 0 && j === 0) {
                        continue;
                    }
                    let coord = this.checkCoordinates(x + i, y + j);
                    let m = coord[0];
                    let n = coord[1];
                    if (this.arrFields[m].indexOf(n) !== -1) {
                        count++;
                        if (count > 3) {
                            break;
                        }
                    }
                }
                if (count > 3) {
                    break;
                }
            }
            if (this.arrFields[x].indexOf(y) !== -1) {
                if (count !== 2 && count !== 3) {
                    this.ctx.clearRect(y * this.size, x * this.size, this.size, this.size);
                    this.ctx.fillStyle = "black";
                    this.ctx.strokeRect (y * this.size, x * this.size, this.size, this.size);
                    return false;
                }
                return true;
            } else if (this.arrFields[x].indexOf(y) === -1) {
                if (count === 3) {
                    this.ctx.fillStyle = "black";
                    this.ctx.fillRect(y * this.size, x * this.size, this.size, this.size);
                    return true;
                }
                return false;
            }
        } //window.gameOfLife.checkPoint(4, 4)

        checkCoordinates(x, y) {
            if (x < 0) {
                x = this.height - 1;
            } else if (x >= this.height) {
                x = 0
            }
            if (y < 0) {
                y = this.width - 1;
            } else if (y >= this.width) {
                y = 0
            }
            return [x, y];
        }

        stop() {
            if (this.timerId) {
                clearInterval(this.timerId);
            }
        }

        getLifeNeighbors(x, y) {
            let count = 0;
            for (let i = -1; i < 2; i++) {
                for (let j = -1; j < 2; j++) {
                    if (i === 0 && j === 0) {
                        continue;
                    }
                    let m = x + i;
                    let n = y + j;
                    if (m < 0) {
                        m = this.height - 1;
                    } else if (m >= this.height) {
                        m = 0
                    }
                    if (n < 0) {
                        n = this.width - 1;
                    } else if (n >= this.width) {
                        n = 0
                    }
                    if (this.arrFields[m][n]) {
                        count++;
                        if (count > 3) {
                            return 4;
                        }
                    }
                }
            }
            return count;
        }

        test1() {
            this.size = 15;
            this.width = 15;
            this.height = 10;
            this.timeInterval = 2000;
            this.canvas.width = this.width * this.size;
            this.canvas.height = this.height * this.size;
            this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);
            this.arrFields = [];

            for (let i = 0; i < this.height; i++) {
                this.arrFields[i] = [];
                for (let j = 0; j < this.width; j++) {
                    if (
                        (i === 4 && j === 4) ||
                        (i === 3 && j === 4) ||
                        (i === 5 && j === 4)
                    ) {
                        this.ctx.fillStyle = "black";
                        this.ctx.fillRect (j * this.size, i * this.size, this.size, this.size);
                        this.arrFields[i][j] = 1;
                    } else {
                        this.ctx.fillStyle = "black";
                        this.ctx.strokeRect(j * this.size, i * this.size, this.size, this.size);
                        this.arrFields[i][j] = 0;
                    }
                }
            }
        }

        test2() {
            this.size = 15;
            this.width = 15;
            this.height = 10;
            this.timeInterval = 1000;
            this.canvas.width = this.width * this.size;
            this.canvas.height = this.height * this.size;
            this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);
            this.arrFields = [];

            for (let i = 0; i < this.height; i++) {
                this.arrFields[i] = [];
                for (let j = 0; j < this.width; j++) {
                    if (
                        // (i === 0 && j === 0) ||
                        // (i === 1 && j === 0) ||
                        // (i === 2 && j === 0)
                        (i === 3 && j === 2) ||
                        (i === 4 && j === 3) ||
                        (i === 2 && j === 4) ||
                        (i === 3 && j === 4) ||
                        (i === 4 && j === 4)
                    ) {
                        this.ctx.fillStyle = "black";
                        this.ctx.fillRect (j * this.size, i * this.size, this.size, this.size);
                        this.arrFields[i].push(j);
                    } else {
                        this.ctx.fillStyle = "black";
                        this.ctx.strokeRect(j * this.size, i * this.size, this.size, this.size);
                    }
                }
            }
            console.log(this.arrFields);
        }

        speedtest1() {
            console.time('Function #1');
            this.size = 5;
            this.width = 100;
            this.height = 100;
            this.arrFields = JSON.parse('[[0,1,1,0,1,1,0,1,1,1,0,1,0,0,0,1,0,0,1,1,0,1,0,1,0,1,1,1,1,0,1,0,0,0,0,1,0,0,0,1,0,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,1,1,0,1,1,0,1,1,0,1,1,0,0,0,1,0,1,1,1,0,1,1,1,1,1,1,1,1,1,1,0,1,1,0,1,0,0,0,0,0,0,1],[0,1,0,1,0,0,1,1,0,0,1,1,0,0,0,0,1,1,0,1,1,1,0,1,1,1,1,1,0,1,1,0,1,1,0,0,1,1,0,1,0,1,0,0,0,0,1,1,1,0,1,1,1,1,0,1,0,1,1,0,0,1,0,0,0,0,0,0,1,0,1,1,0,0,1,0,0,0,1,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,1,1,1],[1,0,0,0,0,0,1,0,1,1,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,1,1,0,0,0,0,1,1,0,0,1,0,1,0,0,1,0,1,1,1,1,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,1,1,1,1,1,1,1,1,0,0,0,1,0,0,0,1,0,1,1,0,1,0,0,1,0,1,0,0,1,1,0,0,1,1,1,0],[1,0,1,0,0,0,0,1,1,0,1,1,1,1,0,1,0,0,1,0,1,0,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,0,1,0,0,1,1,0,0,1,1,0,0,1,0,0,1,1,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,1,1,1,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,1,1,1,0,0,1],[1,1,1,0,1,0,1,1,0,0,0,1,0,0,1,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,1,1,1,0,0,1,1,1,0,0,0,1,1,1,0,1,0,1,0,0,0,0,0,0,1,0,1,1,0,1,1,1,1,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,1,1,1,1,0,1,1,0,0,1,1,1],[1,1,0,1,0,0,1,1,0,1,0,1,0,0,1,1,1,1,1,1,0,1,1,1,0,0,0,0,0,1,0,1,0,0,1,1,1,1,1,1,0,1,1,1,0,0,1,1,1,1,1,1,0,0,1,0,1,0,0,1,1,0,1,0,1,0,0,1,0,0,0,0,0,1,1,0,0,0,1,1,0,1,1,1,1,1,0,0,1,0,1,1,0,1,0,1,0,1,1,0],[1,1,1,0,1,1,0,0,0,1,0,0,1,1,1,1,0,1,0,1,1,0,1,1,0,1,0,1,0,1,0,1,1,0,1,0,0,1,0,0,0,1,1,0,1,1,1,0,0,1,1,0,1,1,1,1,0,0,0,0,0,1,1,1,0,0,0,0,1,0,1,1,1,1,0,1,1,1,0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,0,1,0,0,1,1,1],[1,1,1,1,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,1,1,1,0,0,1,0,0,0,0,1,0,0,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1,1,0,1,1,0,0,1,1,0,1,0,1,0,0,0,1,1,1,1,1,0,1,1,1,0,1,1,0,0,1,1,1,1,0,0,0,1,0,0,1,0,0,0],[0,0,0,1,0,1,0,0,0,0,1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,1,1,1,1,0,0,0,1,1,1,1,1,0,1,1,0,1,1,1,0,1,1,0,1,1,1,1,0,1,1,0,0,0,0,0,0,0,0,1,1,1,1,0,0,1,1,1,1,1,0,0,1,0,1,1,0,1,1,0,0,0,1,0,0,0,0,1,0,1,0,1,0,1,1],[0,1,1,1,1,1,0,0,0,0,0,0,1,1,1,0,1,0,0,0,0,1,0,1,0,0,0,1,1,1,1,1,1,1,1,0,0,0,0,1,0,1,1,0,0,1,0,1,1,0,0,0,1,0,1,1,1,0,1,1,0,0,1,0,1,1,0,0,1,1,0,0,0,1,0,1,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,1,1,1,1,0,0,0,0,0],[0,0,1,0,1,0,0,1,1,1,0,1,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,1,0,1,1,0,0,0,0,0,1,0,0,0,1,1,1,1,1,0,1,1,1,1,0,0,0,1,0,0,1,1,0,0,1,0,0,0,0,1,1,0,1,1,1,0,0,1,1,0,1,0,0,0,1,0,1,1,0,0,1,1,0,1,1,1,0,1,1,1,0],[0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,1,0,1,0,0,0,1,0,0,0,1,1,1,0,0,1,0,1,1,0,1,0,0,1,0,0,1,0,1,0,1,1,1,0,0,1,1,1,1,0,1,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,1,1,0,0,1,1,1,0,1,0,1,0,1,1,0],[0,0,1,1,0,1,1,0,0,0,1,1,1,1,0,0,0,0,1,0,0,0,0,0,1,1,1,1,0,1,1,1,0,1,1,1,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,1,1,1,0,1,1,1,0,0,1,0,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,1,0,0,0,1,1,0,1,1,0,1,1,0,1,0,1,0],[0,0,1,0,1,0,0,0,1,0,1,1,0,0,0,0,0,1,1,1,1,0,0,0,1,0,1,0,1,0,0,1,0,1,0,1,0,1,1,0,1,0,1,0,0,1,1,1,1,0,1,0,1,0,0,0,1,1,1,0,1,1,1,0,1,1,1,0,1,0,0,0,1,1,1,0,1,0,1,1,0,1,1,0,1,0,1,1,0,0,0,1,0,1,0,1,0,1,0,1],[0,0,0,1,1,1,1,0,0,0,0,0,0,1,0,1,1,0,0,0,1,0,1,1,0,1,1,0,1,0,0,1,0,0,1,0,1,0,0,0,1,1,0,1,0,1,1,0,1,0,1,0,0,0,0,0,0,1,1,0,1,0,0,1,1,1,1,1,1,1,0,0,1,1,1,1,1,0,0,0,0,1,0,0,0,1,1,0,0,1,1,0,1,1,0,1,1,1,1,1],[1,0,1,0,0,0,0,1,0,1,1,1,0,0,1,0,0,0,0,1,0,0,0,1,1,1,1,1,0,1,1,1,0,1,0,0,0,1,0,1,1,1,1,1,0,0,1,1,1,1,0,1,1,0,1,0,1,1,1,0,1,0,0,1,0,0,1,1,0,0,0,1,1,0,1,1,0,0,0,1,0,1,0,0,1,0,1,0,1,1,1,1,0,1,1,0,1,1,0,0],[0,1,1,1,0,1,0,1,0,1,0,0,1,0,1,1,1,1,1,1,0,1,1,1,1,0,1,1,0,0,1,1,0,0,0,1,1,1,0,0,1,1,0,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,1,0,1,0,1,1,1,0,0,0,0,0,0,1,0,1,1,1,0,1,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0],[0,0,1,1,1,0,1,0,1,1,0,1,1,1,1,0,0,1,0,0,1,1,1,0,0,0,0,0,0,1,1,0,0,0,1,1,1,0,1,0,1,0,0,0,1,0,1,0,0,1,0,0,0,1,1,0,1,1,0,1,1,1,1,0,1,1,0,1,0,1,1,1,0,0,1,1,0,1,1,1,1,0,1,1,0,1,0,1,1,0,0,1,1,1,1,0,1,1,0,1],[0,0,1,1,0,0,0,1,1,1,1,1,1,1,1,1,1,0,1,0,1,1,1,1,0,1,1,0,1,1,1,1,1,0,1,1,1,1,1,1,0,0,0,0,1,0,0,0,1,0,1,1,1,0,0,1,1,0,1,0,0,1,1,0,1,1,0,1,1,1,0,1,0,1,1,1,1,1,0,0,1,0,0,1,0,0,1,1,0,1,0,1,0,0,0,0,0,0,0,0],[1,1,0,0,1,0,1,1,0,1,1,0,0,1,1,1,0,0,1,0,1,1,0,1,1,0,1,1,1,0,1,0,0,0,0,0,0,0,1,0,0,1,1,1,0,0,1,0,1,1,0,1,0,0,1,1,1,0,0,1,1,1,1,0,0,0,1,1,1,1,1,1,1,1,0,0,0,0,1,0,0,1,1,0,1,0,1,1,0,0,1,1,1,0,0,1,1,1,0,1],[0,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,1,0,0,1,1,1,0,1,1,0,1,1,0,1,1,1,0,0,1,0,1,0,0,1,1,0,1,0,1,0,0,0,1,1,0,1,1,0,0,0,1,0,0,1,0,1,1,0,0,1,0,1,0,0,1,0,1,1,1,0,0,1,1],[1,0,1,1,1,1,1,1,0,0,0,1,0,0,1,1,1,0,0,0,0,1,1,1,1,1,0,1,1,1,0,1,1,1,0,1,0,0,1,1,1,0,0,1,0,0,0,0,1,0,0,0,1,1,1,1,1,1,1,1,0,1,1,0,1,1,0,1,1,1,0,1,0,0,0,1,0,0,0,0,0,1,0,1,1,1,0,1,0,0,1,1,1,1,1,1,0,1,0,0],[0,0,1,1,0,1,1,1,0,1,1,1,1,0,0,0,1,0,1,1,0,0,1,1,1,0,1,0,0,1,1,0,0,1,0,1,0,1,0,0,1,1,1,1,1,1,0,0,0,1,0,1,0,1,0,1,0,0,0,0,0,0,1,0,0,1,0,1,1,0,0,1,1,0,0,1,1,0,1,1,1,1,0,1,1,0,1,1,1,1,0,1,0,0,1,1,0,0,0,1],[0,0,0,0,1,1,1,0,0,0,1,0,0,1,0,1,1,1,0,1,0,1,0,1,1,0,0,1,0,0,0,0,0,1,0,0,0,1,1,1,1,0,1,1,0,1,0,0,1,1,0,1,0,1,0,0,0,0,1,1,0,0,0,1,0,1,1,0,0,0,0,1,0,1,1,1,0,1,1,1,1,0,0,0,0,0,1,0,0,1,0,1,1,0,0,1,0,1,1,1],[0,1,1,1,0,1,0,0,1,1,1,0,1,1,0,0,1,1,1,1,0,0,1,1,1,0,1,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,1,1,1,1,0,0,1,0,0,1,1,1,1,0,1,0,1,0,1,0,1,1,1,1,1,1,0,1,1,1,1,0,1,1,0,1,1,0,1,1,1,0,1,1,1,0,0,0,0,0],[1,0,1,0,0,0,1,1,0,1,0,0,0,0,1,1,0,1,0,0,1,0,1,0,1,0,0,1,0,1,1,0,0,0,1,1,0,1,0,1,1,1,1,0,0,1,1,1,0,1,1,1,0,0,0,1,1,1,1,1,1,1,0,1,1,1,1,0,1,0,0,0,1,0,0,1,1,0,0,1,0,0,1,1,1,1,1,0,0,0,0,1,1,0,1,1,1,1,0,1],[0,1,0,0,1,1,1,1,0,0,1,1,1,0,0,0,1,1,0,1,0,0,0,0,1,1,0,1,0,0,0,0,0,1,1,1,0,1,0,1,1,1,1,0,1,1,0,0,1,1,0,0,1,0,1,0,0,0,1,1,1,0,1,0,0,1,1,1,0,1,1,1,0,1,0,1,0,0,1,1,1,1,0,0,0,0,1,0,0,1,0,1,1,0,0,1,0,1,1,1],[0,0,0,0,0,0,0,1,1,0,1,1,1,1,1,1,0,1,0,0,1,0,1,0,0,1,1,0,1,0,1,0,1,0,1,0,0,1,1,1,0,1,1,0,1,0,1,0,0,1,1,0,1,1,0,1,0,1,0,1,1,1,1,0,1,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0,0,0,1,1,1,0,0,1,1,0,0,0,1,0,0,1,0,0,0,1],[1,1,1,0,0,0,0,0,1,0,1,1,1,0,0,0,0,1,0,1,1,0,1,0,0,1,1,1,1,0,1,0,1,1,0,1,1,1,0,0,1,0,1,0,1,1,1,1,0,0,0,1,1,0,1,1,1,1,1,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,1,0,0,1,1,0,0,1,1,1,1,0,0,0,1],[1,1,1,0,1,0,1,0,0,0,0,0,0,1,0,0,1,1,1,1,1,1,1,0,1,0,0,1,1,0,0,0,0,0,1,0,1,0,1,0,0,1,0,1,0,1,1,0,0,0,0,0,1,1,0,0,1,1,0,1,0,1,1,1,0,0,1,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,1,0,0,1,1,1,0,0,1],[0,1,0,0,0,0,1,1,1,1,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,1,1,1,1,1,1,0,0,1,1,0,0,0,1,0,0,1,0,0,1,0,1,0,1,1,1,0,1,1,0,1,0,1,0,0,1,1,1,1,0,1,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,1,1,0,1,0,0,1,0,1,0,1,1],[0,1,0,0,1,0,1,0,0,0,1,1,1,0,1,1,1,1,0,0,0,1,1,0,1,1,0,1,0,0,1,1,0,0,0,1,1,0,1,1,1,0,1,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,1,1,0,0,0,1,1,0,1,1,0,0,1,0,0,1,0,0,1,0,1],[1,0,1,1,1,0,1,1,0,0,0,0,1,1,1,0,0,0,0,0,0,0,1,1,1,0,0,0,1,1,1,1,1,0,1,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,0,1,0,1,1,1,1,0,1,0,0,0,1,0,0,0,1,1,0,0,0,1,1,1,0,1,0,0,0,1,1,0,1,0,0,0,0,1,1,1,1,1,0,0,0,0,0,0],[1,1,1,0,1,1,1,1,1,0,0,0,1,1,0,1,0,1,0,1,0,0,1,0,0,0,0,0,1,1,0,1,1,1,0,1,0,1,0,0,0,0,1,0,0,1,1,0,1,0,1,0,1,0,1,1,0,1,0,0,0,0,1,0,0,1,1,0,1,1,1,1,0,0,1,1,0,0,0,1,1,1,1,1,1,1,0,1,1,1,0,0,0,0,0,0,0,1,0,1],[1,1,1,0,1,0,1,1,0,0,1,1,1,0,1,0,1,1,1,0,0,0,0,0,0,0,0,1,1,1,0,0,0,1,1,0,1,0,1,1,0,1,1,0,0,1,0,0,0,0,0,1,1,1,0,0,1,0,0,1,1,0,1,0,0,0,0,0,0,1,0,1,1,0,1,1,1,1,1,1,1,0,0,1,1,0,0,1,0,0,0,1,1,0,0,0,0,1,0,0],[1,0,1,1,0,0,0,1,1,1,0,1,1,0,1,0,0,0,0,1,0,1,1,1,0,0,1,1,0,1,0,1,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1,1,0,1,0,0,0,0,1,1,0,1,0,0,0,1,1,0,1,1,0,1,1,0,0,0,0,0,0,1,0,1,0,1,1,0,1,0,0,0,1,0,0,1,0],[0,1,1,1,1,0,1,1,0,0,0,0,0,1,1,0,1,0,0,0,0,1,0,1,1,0,1,1,1,1,0,0,1,1,1,0,1,0,0,0,0,1,0,1,1,1,1,0,1,0,1,0,1,1,1,0,1,0,0,1,0,1,1,0,0,1,1,1,0,0,0,1,1,1,1,0,0,1,0,0,1,1,0,1,0,0,0,1,0,1,1,0,1,0,1,1,0,1,1,1],[1,1,1,0,0,0,0,0,0,1,1,1,1,1,1,1,0,0,1,1,0,0,1,0,1,0,1,1,0,0,0,1,0,1,1,0,0,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,0,0,0,0,1,0,1,1,0,0,1,1,1,0,0,0,1,0,0,1,1,0,0,1,1,0,0,1,1,1,1,1,1,0,0,1,1,1,1,0,0,1,0],[1,0,0,1,0,0,0,1,1,1,0,0,0,1,0,1,1,1,0,1,0,1,1,0,1,0,0,0,1,1,0,1,1,0,0,1,1,0,1,0,1,0,1,0,0,1,1,0,0,0,0,0,0,1,0,1,0,1,1,1,1,0,1,0,0,0,0,1,0,1,0,0,1,0,1,0,0,1,1,1,0,0,1,0,0,0,1,1,0,0,0,0,1,0,1,1,0,0,1,0],[1,0,0,0,0,1,1,1,0,0,0,0,1,1,0,1,1,0,0,0,0,1,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1,1,0,1,1,1,0,0,0,0,1,1,1,1,1,0,0,0,0,1,1,0,1,1,0,0,1,1,0,0,1,1,1,0,1,0,0,0,1,1,0,0,1,0,0,0,1,0,0,0,0,0,1,1,0,0,0],[0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,1,1,0,0,1,0,1,1,1,1,1,0,0,0,0,1,0,1,0,1,0,1,0,1,1,1,0,1,1,1,0,0,0,1,1,0,0,1,0,0,1,1,0,1,0,0,0,1,1,0,1,0,0,1,0,0,1,0,0,1,1,1,0,1,1,1,1,0,0,0,0,1,0,0,1,1,1,0,1,1,1,0,1,0,1],[0,1,1,0,0,1,1,0,0,1,1,1,1,1,1,1,0,1,0,1,0,0,1,0,1,1,0,0,0,1,1,0,1,1,1,1,0,0,1,0,1,0,1,0,0,1,0,1,0,0,1,1,1,0,1,0,1,1,1,1,0,0,1,1,0,0,1,0,1,0,0,0,1,0,1,0,0,1,0,1,1,0,0,1,0,0,1,1,1,1,1,1,1,0,1,0,0,0,1,1],[0,1,1,0,1,1,0,1,1,1,1,0,0,0,1,0,1,1,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,1,1,1,0,1,0,0,1,1,0,0,0,1,0,1,1,0,1,0,1,0,1,1,0,1,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,1,0,1,1,0,1,0,1,0,1,1,0,1,0,1,1],[0,0,1,0,1,0,1,0,1,1,0,1,1,0,0,1,1,0,1,1,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,1,1,1,1,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,1,1,1,0,1,0,0,1,0,1,1,0,1,0,1,1,0,1,1,1,0,0,1,1,0,0,0,1,1,1],[0,0,0,1,1,1,1,1,1,0,1,0,0,1,1,1,0,0,1,1,0,1,0,1,1,1,0,0,1,0,0,1,1,1,1,0,1,0,1,1,0,1,0,1,1,0,0,1,1,0,1,1,0,0,1,0,0,1,1,1,0,0,1,0,0,1,1,0,1,1,0,1,1,1,1,1,1,0,0,1,1,1,0,0,1,0,1,0,0,1,0,1,0,0,0,1,0,1,1,0],[0,0,1,1,0,1,1,1,1,0,1,0,0,1,1,0,0,0,1,0,1,1,1,0,1,0,0,1,1,1,1,0,0,1,1,1,0,0,0,0,0,1,0,1,0,1,1,1,0,0,0,1,1,0,0,1,0,1,1,1,1,0,0,1,1,0,0,1,0,0,0,1,1,0,1,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,0,0,0,0,0,1,0,1,0],[1,1,0,1,0,0,1,1,0,1,1,1,1,1,0,1,1,0,0,0,0,1,1,0,0,1,1,0,0,0,0,0,1,1,1,1,0,1,0,0,1,1,0,1,0,0,1,0,1,0,1,0,0,0,1,0,1,1,0,1,0,1,0,0,1,0,1,0,0,1,1,1,0,1,0,1,1,0,1,1,1,0,1,0,0,0,0,1,1,0,1,0,0,0,1,1,1,1,0,1],[0,1,1,1,0,1,0,0,1,1,1,0,0,0,1,0,1,0,0,1,1,0,1,1,0,1,1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,1,1,1,1,0,1,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,1,0,1,1,1,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1],[1,0,1,1,1,1,1,0,0,0,1,1,0,0,0,0,1,1,1,0,1,0,1,1,0,1,1,1,1,1,0,0,1,0,0,1,0,1,1,0,1,1,1,1,0,1,0,1,1,0,0,0,1,0,1,0,1,0,0,0,1,0,0,0,1,0,1,1,1,0,0,0,0,1,1,1,1,1,1,1,1,0,0,1,0,1,1,1,1,1,0,0,1,1,0,0,1,1,0,1],[0,0,0,1,1,1,0,1,1,1,0,0,1,0,1,1,0,0,1,0,1,1,1,0,1,0,1,0,0,0,0,1,0,1,0,1,0,1,0,1,0,0,0,0,1,0,0,0,1,1,0,0,1,0,1,0,0,0,1,1,0,1,1,0,0,1,0,0,0,1,1,1,0,1,1,0,0,0,0,1,0,0,0,1,1,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0],[1,1,0,1,0,0,0,1,1,0,1,1,0,0,0,1,0,0,1,1,0,1,1,0,1,0,1,1,0,0,0,0,0,1,0,0,0,0,1,1,0,1,1,1,0,0,0,0,1,0,1,0,0,1,1,1,1,1,1,1,0,1,0,1,1,0,0,0,0,1,1,1,0,0,0,0,0,0,1,1,1,1,1,1,1,0,0,1,0,0,1,1,1,0,1,1,1,0,1,0],[0,0,0,1,1,0,1,1,0,0,0,0,1,1,0,0,0,1,0,1,0,1,1,1,1,1,1,1,0,1,0,0,1,1,1,0,1,0,1,1,0,1,0,1,0,0,1,0,0,1,1,0,1,0,1,0,1,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,1,1,0,0,0,0,0,1,1,1,0,0,1,0,1,1,1,1,1,0,0,1,1,1,1,1],[0,0,0,0,1,0,1,0,0,1,0,1,1,0,1,1,0,0,0,0,0,1,0,1,0,1,0,0,1,1,0,1,1,1,1,1,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,0,1,0,1,0,1,1,1,1,0,0,0,0,0,1,1,1,1,0,0,0,1,1,1,0,1,0,1,1,0,0,1,0,0,1,0,0,1,1,0,0,0,0,1,1,1,1,1,0],[1,1,1,1,0,0,1,0,0,1,1,1,0,1,0,0,1,0,1,0,0,0,0,0,1,1,1,0,1,0,1,0,0,1,1,1,0,1,1,1,1,0,1,0,0,0,1,1,1,1,1,1,0,0,1,1,0,1,1,1,0,1,1,0,0,0,1,1,1,0,1,0,0,1,0,0,0,1,1,1,1,0,1,1,1,1,1,1,1,0,0,0,1,1,1,0,1,0,0,1],[0,0,0,0,0,0,0,1,0,1,0,0,0,1,1,1,0,1,1,1,1,0,0,0,0,1,0,0,1,1,1,1,0,1,1,1,1,0,1,1,1,0,0,1,0,1,0,0,0,0,0,1,1,1,1,0,0,1,1,1,0,1,0,0,0,0,1,1,1,0,1,1,0,0,1,0,1,1,1,0,0,1,0,0,1,1,1,1,1,1,0,0,1,0,1,0,0,0,0,1],[0,0,0,1,0,1,0,0,1,0,1,1,0,1,1,0,0,1,0,0,1,0,0,0,0,1,1,1,0,1,0,0,1,1,1,1,1,0,1,0,0,1,1,0,1,0,1,1,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,1,1,0,1,1,1,0,1,0,0,0,0,1,0,1,0,0,1,1,1,0,1,0,0,1,1,1,1,1,1,0,1,0,1,0,0,0],[1,0,0,0,1,0,0,0,1,1,1,0,0,1,0,1,0,1,1,1,0,1,1,0,1,0,1,0,1,1,0,1,1,1,1,1,1,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,1,0,1,1,0,1,0,0,0,1,1,0,1,0,0,0,0,1,0,1,1,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,1,0,0],[1,0,0,0,1,0,1,0,0,1,1,0,1,1,1,0,1,0,0,1,1,1,0,0,1,0,1,1,1,0,1,1,0,0,1,1,0,1,0,1,1,1,0,1,0,1,1,0,0,0,1,0,0,1,0,1,0,1,0,1,1,1,1,1,1,0,1,1,1,1,0,1,0,0,1,0,0,0,0,1,1,1,0,0,0,0,0,1,0,0,1,0,1,1,1,1,1,1,1,1],[1,1,1,0,0,0,1,0,1,0,1,0,1,0,1,1,0,1,0,1,1,1,0,0,1,1,1,1,1,0,1,0,0,0,0,0,1,1,1,0,1,0,0,1,1,0,1,0,0,0,1,1,0,0,1,1,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,1,1,0,1,1,1,1,1,0,1,1,0,1,1,0,0,1,0,1,1,1,1,1,1,1,0,0,1,0],[1,0,0,0,1,0,0,0,1,0,1,1,0,0,1,1,1,1,1,1,1,0,1,0,1,1,1,1,1,1,1,0,0,1,1,0,1,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,1,1,1,0,0,0,0,0,0,1,0,1,0,0,1,1,1,1,0,1,0,0,0,0,0,1,0,0,1,0,1,1,0,0,1,0,0,1,1,1,1,0,0,1,1,0,0,0],[0,0,1,0,1,1,1,0,1,1,1,0,0,0,0,0,1,0,0,1,1,0,0,1,0,0,0,1,1,0,1,1,1,0,1,0,0,1,0,0,1,1,1,0,1,1,0,1,1,0,1,1,1,1,1,1,0,0,1,1,1,0,1,0,0,1,0,0,1,1,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,1,1,1,1,0,1,0,1,0,0,0,0,0,0,0],[0,1,0,1,1,1,0,1,0,0,0,1,0,1,1,1,0,0,0,0,0,0,1,1,0,1,0,0,1,0,1,1,1,1,1,1,1,1,0,0,0,0,1,1,0,0,1,1,0,1,0,1,0,0,0,1,0,0,1,1,0,1,1,0,1,1,1,1,1,1,1,0,0,1,0,0,1,0,0,1,0,1,0,1,0,1,0,1,1,0,1,1,0,1,0,0,1,0,1,1],[0,0,1,0,1,0,1,0,1,1,1,0,1,1,0,0,1,1,1,1,0,1,1,1,0,0,0,1,0,1,1,0,1,0,1,1,0,1,1,1,0,1,1,1,0,1,1,1,1,0,1,1,0,0,1,0,0,0,1,1,0,1,0,1,1,0,0,0,1,1,1,0,0,0,0,1,1,0,1,1,1,1,1,1,1,1,0,1,1,1,0,0,0,1,0,1,0,0,1,0],[1,1,1,0,1,0,0,1,1,1,1,1,0,0,0,0,1,1,1,0,1,1,1,1,0,1,1,1,0,1,1,0,0,1,0,0,0,0,0,1,1,0,0,1,1,0,1,0,0,0,0,1,0,1,0,1,0,0,1,0,0,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,1,1,1,1,1,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1],[0,1,0,1,1,1,1,0,1,0,1,0,0,0,1,0,1,0,1,0,1,1,1,1,1,1,0,1,0,1,0,1,0,0,1,1,0,0,1,0,1,1,0,1,1,1,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,1,1,1,0,1,0,1,1,0,1,1,1,0,1,0,1,1,0,0,1,1,1,0,0,1,0,0,0,1,0,1,0],[1,0,0,1,0,1,1,0,0,1,1,0,0,0,0,1,1,1,1,1,0,0,1,0,1,1,1,1,1,0,1,1,0,1,1,1,0,1,0,0,0,0,0,0,1,1,0,0,0,1,1,0,1,1,1,0,0,0,0,0,0,1,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,1,0,1,0,1,1,1,1,0,1,1,1,1,0,0,0,0,1,0,0,1,0,1],[0,1,1,0,0,1,1,1,1,0,1,1,0,1,0,1,1,1,1,1,1,0,1,1,0,1,1,1,1,0,0,1,0,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,0,1,0,1,1,1,0,1,0,0,0,1,1,0,1,0,1,0,1,0,1,1,1,0,0,0,0,0,1,1,0,0,0],[0,1,1,0,0,0,1,1,1,0,1,1,0,1,1,1,1,0,1,0,0,0,0,0,0,1,1,0,1,1,0,1,1,0,1,1,1,1,1,0,0,1,1,0,0,1,1,0,1,1,0,1,0,0,1,0,0,1,1,1,1,0,0,1,0,1,1,1,0,1,0,0,1,1,0,1,1,1,0,1,0,1,1,1,0,1,1,0,0,0,0,0,0,1,0,1,0,0,0,0],[0,1,0,0,0,1,1,0,0,1,1,0,1,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,1,1,1,1,1,0,1,1,1,0,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,1,0,1,1,1,1,0,1,0,0,0,1,0,0,0,1,1,0,1,0,1,1,0,0,1,0,0,1,0,0,1,0,1,0,1],[0,1,0,1,0,0,0,0,0,0,0,0,1,1,1,0,0,1,1,1,0,1,0,0,1,1,1,1,0,0,0,0,1,0,1,0,0,1,1,1,0,0,1,0,0,1,1,0,0,1,1,0,0,0,1,1,1,0,1,1,0,1,0,0,0,0,1,0,1,1,0,0,1,1,1,0,0,1,1,1,0,1,1,0,1,1,0,0,1,0,1,1,0,0,0,1,0,1,0,0],[0,1,0,0,0,0,1,0,0,1,1,0,0,0,1,1,1,1,1,1,0,0,1,0,1,0,0,0,1,0,0,1,1,1,0,0,1,1,1,1,1,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,1,1,1,0,0,1,1,1,1,0,1,1,0,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,1,0,1,1,1,0,0],[0,0,1,1,1,1,0,1,0,1,1,1,0,1,1,1,0,1,1,1,1,0,1,0,0,0,0,0,0,0,1,1,1,0,1,1,0,0,1,1,1,1,0,1,1,0,1,1,0,0,1,1,0,1,1,0,1,0,0,0,0,0,1,1,0,0,0,1,1,1,0,1,0,0,1,0,0,1,0,1,1,1,0,1,0,1,1,1,0,0,0,0,0,0,0,1,1,0,0,0],[0,1,0,0,0,0,0,1,1,0,0,1,0,1,0,1,1,1,0,1,1,0,0,1,0,1,1,0,0,0,0,0,1,1,1,1,1,1,1,1,0,0,0,1,0,1,0,0,1,1,0,0,0,1,1,1,1,1,0,1,1,0,1,1,0,0,1,0,0,1,1,0,0,1,1,1,0,1,1,0,0,0,1,1,1,1,0,0,1,1,1,1,1,1,0,1,0,1,1,1],[1,1,1,0,1,1,1,1,0,0,0,0,1,1,1,0,0,0,0,1,1,1,0,0,1,0,0,1,1,0,0,1,1,1,0,0,1,0,0,0,0,0,1,1,1,1,1,0,1,0,0,0,1,1,0,1,1,1,0,1,1,1,0,1,0,1,0,0,1,1,0,0,0,0,1,0,1,1,1,1,1,1,0,0,0,0,0,1,0,1,0,0,1,1,1,0,0,1,1,1],[1,0,0,0,0,0,0,1,1,0,0,0,1,1,1,1,0,1,1,0,1,1,0,1,1,0,0,0,0,1,1,1,1,1,0,1,0,0,1,0,1,1,0,0,1,0,1,0,0,1,1,0,0,0,1,1,0,0,1,0,1,1,1,1,0,0,1,1,1,1,1,0,1,0,0,1,0,1,0,0,0,0,1,1,0,0,1,0,1,0,1,1,0,1,1,0,0,0,0,0],[1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,1,0,1,0,1,0,0,1,0,0,1,1,0,0,0,1,1,0,1,0,0,0,0,1,1,0,1,1,1,0,1,0,1,0,0,0,1,1,1,0,0,1,0,0,0,1,1,0,0,0,0,0,1,1,0,1,0,0,0,0,1,0,1,0,1,1,0,0,1,1,1,1,0,0,0,0,0,0,1,1,0],[1,1,1,0,1,0,0,0,0,1,0,1,0,1,1,1,0,1,0,0,1,0,0,0,0,1,1,1,1,1,1,1,0,1,1,1,1,0,1,1,0,1,1,0,1,1,0,0,0,0,1,0,0,0,1,1,0,1,1,1,0,0,1,0,1,0,0,0,1,0,1,1,0,0,1,0,0,0,1,0,0,0,0,1,1,0,0,1,0,0,0,1,0,0,1,1,0,0,1,1],[1,0,0,1,0,1,0,1,1,0,1,1,1,0,1,1,1,1,0,1,1,1,0,0,1,0,1,1,0,0,0,0,1,0,0,0,0,1,0,1,1,1,1,1,0,0,0,1,0,0,1,0,1,0,1,0,0,1,1,1,1,1,1,0,0,0,0,0,1,0,1,1,1,1,0,1,1,1,0,0,0,1,0,1,0,0,1,0,0,1,1,1,0,0,0,0,0,1,0,0],[1,0,1,1,0,0,1,1,1,0,1,0,0,1,0,1,0,1,1,0,1,0,0,0,0,1,0,0,0,1,0,0,1,1,1,1,0,1,1,1,0,0,1,1,0,0,1,0,0,1,0,1,0,1,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,1,0,0,0,0,0,0,1,1,1,0,1,1,1,1,1,0,0,0,1,0,1,0],[1,0,0,0,1,0,0,0,1,1,0,1,0,0,0,0,1,1,1,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,0,0,1,0,1,1,0,1,1,0,0,1,1,0,0,1,1,1,1,1,1,0,1,1,1,1,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,1,1,1,0,1,0,1,0,1,1,1,1,0],[1,0,0,1,0,1,0,1,0,1,0,1,0,1,1,1,0,0,0,1,0,1,0,0,0,1,0,1,1,0,1,0,0,0,0,1,1,0,0,0,0,1,1,1,0,1,1,0,0,0,1,1,0,1,0,1,0,0,1,0,1,0,0,0,1,0,0,0,1,1,1,0,1,1,1,1,0,0,0,1,1,0,0,0,0,0,0,0,1,1,0,1,0,1,1,0,0,1,0,0],[0,1,0,0,0,0,1,1,1,1,1,0,0,1,0,1,1,0,1,1,1,1,0,0,1,0,0,0,0,0,1,1,1,1,0,1,0,1,0,0,0,1,0,0,1,0,1,1,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,1,0,0,1,0,0,0,1,0,1,0,0,1,1,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,1,0,1,0,0,1],[1,1,1,1,1,0,1,1,1,1,0,0,0,1,0,0,0,0,0,1,0,1,1,1,0,0,0,0,0,1,1,0,1,1,1,0,0,1,1,1,0,0,1,1,1,0,0,0,1,1,1,0,0,1,0,1,1,1,0,0,0,0,0,0,1,1,0,1,0,0,1,1,0,1,1,1,0,0,0,1,0,0,1,0,0,0,0,1,0,1,1,1,1,0,1,0,1,0,0,0],[0,1,0,1,1,0,1,1,1,1,0,0,0,1,0,0,0,1,0,1,1,1,0,0,1,1,0,0,1,0,0,0,0,0,1,0,1,1,0,1,1,1,1,0,1,0,0,1,1,0,1,1,0,0,1,1,1,1,0,1,1,0,0,0,0,1,0,1,1,0,1,1,0,0,0,1,0,0,0,1,0,0,1,0,1,0,1,0,0,1,0,0,0,1,1,0,1,1,0,1],[0,1,1,1,0,0,0,1,0,1,0,1,0,0,1,1,0,0,1,1,0,0,1,1,0,1,0,1,0,1,1,1,1,0,0,0,0,0,0,0,1,1,1,1,1,0,0,0,1,1,0,1,1,1,0,0,1,0,1,1,0,0,0,1,0,1,0,0,1,1,0,1,1,0,1,0,1,1,1,0,0,1,1,0,0,0,1,1,1,1,0,0,0,0,0,1,1,0,1,1],[0,1,0,0,1,1,0,0,0,0,1,0,1,1,1,1,0,1,0,0,1,1,0,1,1,0,0,1,1,0,0,1,0,0,1,0,1,0,0,0,0,1,1,1,1,0,1,1,1,1,0,1,1,1,0,1,1,1,0,0,1,1,0,0,0,1,1,0,1,0,1,0,1,0,0,1,1,1,1,0,0,1,1,0,0,1,0,1,1,0,0,1,0,0,1,0,0,1,0,1],[1,1,1,1,1,0,1,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1,1,0,0,1,1,0,0,0,0,0,0,1,1,1,0,1,0,1,1,0,0,1,0,1,1,0,0,0,1,0,0,0,1,1,1,1,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,1,1,1,0,0,0,0],[0,0,1,0,1,1,1,1,1,1,0,1,0,1,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,1,0,0,0,0,1,1,1,1,1,1,0,0,1,0,1,0,1,1,0,1,1,1,0,0,1,0,0,1,1,1,0,0,1,1,1,0,1,0,0,1,0,0,1,0,1,0,1,1,1,1,0,1,1,0,1,0,1,0,1,0,1,1,0,1,1,1,1,1,1,0],[0,1,1,1,0,1,1,0,1,0,0,1,0,0,1,1,0,0,0,1,0,1,1,0,1,1,0,0,0,0,0,1,1,1,1,1,1,1,0,1,0,1,0,1,1,1,1,1,1,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0,1,1,0,0,0,1,1,0,1,0,0,0,0,1,1,0,1,0,0,1,1,1,0,1,1,0,1,1,0,0,0,0,0,0,0,1],[0,1,0,0,1,1,1,1,0,0,0,1,1,1,1,1,1,0,1,1,1,0,1,0,1,0,0,0,0,0,1,1,1,0,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,1,1,0,0,1,1,1,1,0,0,1,1,1,0,1,1,1,0,0,0,0,1,1,1,0,0,1,0,0,1],[0,0,0,1,1,1,1,1,1,1,1,1,1,1,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,1,1,0,1,1,0,0,0,1,0,0,1,1,1,1,0,0,0,1,1,0,1,1,0,1,0,1,1,1,0,0,1,1,0,0,0,0,1,1,0,0,0,1,0,1,0,0,0,1,0,1,0,0,1,1,0,0,1,0,0,1,1,1,1,0,0,0,0],[1,1,1,0,1,0,0,0,1,1,1,1,1,0,1,0,1,0,0,0,1,1,0,0,1,0,0,1,0,0,0,1,0,1,1,1,0,1,1,1,0,1,1,1,1,0,0,0,0,1,0,1,1,0,1,1,1,1,1,0,1,0,1,1,1,0,1,0,1,0,0,0,1,1,0,0,1,1,1,1,1,0,1,1,1,0,1,0,1,0,1,1,0,1,1,1,1,0,1,1],[1,1,0,0,1,0,0,0,0,0,0,1,0,1,1,0,1,0,1,0,0,1,1,1,0,1,0,0,0,0,1,1,1,0,1,1,1,1,1,0,1,1,1,0,0,1,0,0,0,0,0,1,0,1,0,1,1,0,1,1,1,1,1,1,1,1,1,1,0,1,1,0,1,0,1,1,0,0,1,0,0,1,0,1,0,0,1,1,1,1,0,1,0,1,1,1,1,0,0,0],[1,1,1,1,0,0,1,1,1,1,0,1,0,1,0,0,1,0,1,0,1,1,1,0,1,0,1,1,0,0,0,0,1,0,0,0,0,1,0,1,1,0,0,0,1,0,0,1,1,1,0,1,0,1,1,0,1,1,1,1,1,1,0,0,0,1,0,0,1,1,1,0,1,0,1,0,0,1,0,1,0,1,1,0,0,1,1,0,1,1,0,0,1,1,1,0,1,1,1,0],[1,0,0,0,0,1,1,1,0,1,1,1,1,0,1,1,0,0,1,0,1,0,0,0,1,1,1,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0,1,1,0,1,1,0,0,1,1,1,0,0,0,1,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,1,1,1,0,1,1,0,0,0,0,0,1,1,0,1,0,0,1,0,0,0,0],[0,0,0,1,0,0,1,1,1,1,1,1,1,0,1,0,0,0,0,1,1,1,0,1,0,1,0,1,0,0,1,1,0,0,1,0,1,1,1,0,0,1,1,1,0,1,1,0,1,1,1,0,1,0,1,0,0,0,1,1,0,0,0,1,0,0,0,1,1,1,1,0,0,1,1,1,0,1,1,0,1,1,0,1,0,0,1,1,1,0,0,1,0,1,1,0,1,0,1,0],[0,0,1,1,0,0,1,1,0,0,1,1,1,0,0,0,1,0,1,1,0,1,1,0,0,1,1,0,1,0,0,0,0,1,1,1,0,1,0,0,0,1,1,0,1,1,1,1,1,1,1,0,0,1,1,1,1,0,1,0,0,1,1,1,0,1,0,0,1,1,0,1,1,1,0,1,0,1,1,0,0,0,1,1,1,1,1,1,0,1,0,1,0,1,1,1,1,0,1,1],[1,1,1,0,0,0,0,0,1,1,1,0,1,0,1,0,1,0,0,0,1,0,1,0,1,1,0,1,0,0,1,0,1,1,0,1,1,1,1,1,1,1,1,0,0,0,0,0,1,0,1,0,1,0,0,0,1,1,0,1,0,1,0,1,1,1,0,1,1,1,0,1,0,1,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,1,0,1,1],[0,0,1,1,0,1,1,0,0,0,1,0,1,0,1,1,0,0,1,1,0,1,1,1,1,1,0,0,0,1,1,0,1,1,0,1,0,1,1,0,1,1,1,1,0,1,0,0,1,0,0,0,0,0,0,0,0,1,1,1,0,1,1,1,1,0,0,1,1,1,0,0,0,1,0,1,0,0,0,0,1,0,1,0,0,0,1,1,0,0,1,1,0,1,1,1,0,1,1,0],[1,1,0,1,1,0,0,1,1,1,0,1,0,0,1,1,0,1,1,0,1,1,0,1,0,0,0,0,1,0,1,0,0,1,1,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0,1,1,1,1,0,0,1,0,1,1,1,1,1,0,1,1,0,1,1,0,1,0,0,0,1,1,1,1,0,0,1,0,1,1,1,0,1,1,0,0,0,1,0,0,1,1]]')
            console.time('Function #1');
            for(var i = 0; i < 2000; i++ ){
                this.functionOne();
            }
            console.timeEnd('Function #1')

            this.size = 5;
            this.width = 100;
            this.height = 100;
            this.arrFields = [];
            let tempArr = JSON.parse('[[0,1,1,0,1,1,0,1,1,1,0,1,0,0,0,1,0,0,1,1,0,1,0,1,0,1,1,1,1,0,1,0,0,0,0,1,0,0,0,1,0,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,1,1,0,1,1,0,1,1,0,1,1,0,0,0,1,0,1,1,1,0,1,1,1,1,1,1,1,1,1,1,0,1,1,0,1,0,0,0,0,0,0,1],[0,1,0,1,0,0,1,1,0,0,1,1,0,0,0,0,1,1,0,1,1,1,0,1,1,1,1,1,0,1,1,0,1,1,0,0,1,1,0,1,0,1,0,0,0,0,1,1,1,0,1,1,1,1,0,1,0,1,1,0,0,1,0,0,0,0,0,0,1,0,1,1,0,0,1,0,0,0,1,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,1,1,1],[1,0,0,0,0,0,1,0,1,1,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,1,1,0,0,0,0,1,1,0,0,1,0,1,0,0,1,0,1,1,1,1,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,1,1,1,1,1,1,1,1,0,0,0,1,0,0,0,1,0,1,1,0,1,0,0,1,0,1,0,0,1,1,0,0,1,1,1,0],[1,0,1,0,0,0,0,1,1,0,1,1,1,1,0,1,0,0,1,0,1,0,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,0,1,0,0,1,1,0,0,1,1,0,0,1,0,0,1,1,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,1,1,1,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,1,1,1,0,0,1],[1,1,1,0,1,0,1,1,0,0,0,1,0,0,1,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,1,1,1,0,0,1,1,1,0,0,0,1,1,1,0,1,0,1,0,0,0,0,0,0,1,0,1,1,0,1,1,1,1,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,1,1,1,1,0,1,1,0,0,1,1,1],[1,1,0,1,0,0,1,1,0,1,0,1,0,0,1,1,1,1,1,1,0,1,1,1,0,0,0,0,0,1,0,1,0,0,1,1,1,1,1,1,0,1,1,1,0,0,1,1,1,1,1,1,0,0,1,0,1,0,0,1,1,0,1,0,1,0,0,1,0,0,0,0,0,1,1,0,0,0,1,1,0,1,1,1,1,1,0,0,1,0,1,1,0,1,0,1,0,1,1,0],[1,1,1,0,1,1,0,0,0,1,0,0,1,1,1,1,0,1,0,1,1,0,1,1,0,1,0,1,0,1,0,1,1,0,1,0,0,1,0,0,0,1,1,0,1,1,1,0,0,1,1,0,1,1,1,1,0,0,0,0,0,1,1,1,0,0,0,0,1,0,1,1,1,1,0,1,1,1,0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,0,1,0,0,1,1,1],[1,1,1,1,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,1,1,1,0,0,1,0,0,0,0,1,0,0,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1,1,0,1,1,0,0,1,1,0,1,0,1,0,0,0,1,1,1,1,1,0,1,1,1,0,1,1,0,0,1,1,1,1,0,0,0,1,0,0,1,0,0,0],[0,0,0,1,0,1,0,0,0,0,1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,1,1,1,1,0,0,0,1,1,1,1,1,0,1,1,0,1,1,1,0,1,1,0,1,1,1,1,0,1,1,0,0,0,0,0,0,0,0,1,1,1,1,0,0,1,1,1,1,1,0,0,1,0,1,1,0,1,1,0,0,0,1,0,0,0,0,1,0,1,0,1,0,1,1],[0,1,1,1,1,1,0,0,0,0,0,0,1,1,1,0,1,0,0,0,0,1,0,1,0,0,0,1,1,1,1,1,1,1,1,0,0,0,0,1,0,1,1,0,0,1,0,1,1,0,0,0,1,0,1,1,1,0,1,1,0,0,1,0,1,1,0,0,1,1,0,0,0,1,0,1,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,1,1,1,1,0,0,0,0,0],[0,0,1,0,1,0,0,1,1,1,0,1,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,1,0,1,1,0,0,0,0,0,1,0,0,0,1,1,1,1,1,0,1,1,1,1,0,0,0,1,0,0,1,1,0,0,1,0,0,0,0,1,1,0,1,1,1,0,0,1,1,0,1,0,0,0,1,0,1,1,0,0,1,1,0,1,1,1,0,1,1,1,0],[0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,1,0,1,0,0,0,1,0,0,0,1,1,1,0,0,1,0,1,1,0,1,0,0,1,0,0,1,0,1,0,1,1,1,0,0,1,1,1,1,0,1,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,1,1,0,0,1,1,1,0,1,0,1,0,1,1,0],[0,0,1,1,0,1,1,0,0,0,1,1,1,1,0,0,0,0,1,0,0,0,0,0,1,1,1,1,0,1,1,1,0,1,1,1,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,1,1,1,0,1,1,1,0,0,1,0,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,1,0,0,0,1,1,0,1,1,0,1,1,0,1,0,1,0],[0,0,1,0,1,0,0,0,1,0,1,1,0,0,0,0,0,1,1,1,1,0,0,0,1,0,1,0,1,0,0,1,0,1,0,1,0,1,1,0,1,0,1,0,0,1,1,1,1,0,1,0,1,0,0,0,1,1,1,0,1,1,1,0,1,1,1,0,1,0,0,0,1,1,1,0,1,0,1,1,0,1,1,0,1,0,1,1,0,0,0,1,0,1,0,1,0,1,0,1],[0,0,0,1,1,1,1,0,0,0,0,0,0,1,0,1,1,0,0,0,1,0,1,1,0,1,1,0,1,0,0,1,0,0,1,0,1,0,0,0,1,1,0,1,0,1,1,0,1,0,1,0,0,0,0,0,0,1,1,0,1,0,0,1,1,1,1,1,1,1,0,0,1,1,1,1,1,0,0,0,0,1,0,0,0,1,1,0,0,1,1,0,1,1,0,1,1,1,1,1],[1,0,1,0,0,0,0,1,0,1,1,1,0,0,1,0,0,0,0,1,0,0,0,1,1,1,1,1,0,1,1,1,0,1,0,0,0,1,0,1,1,1,1,1,0,0,1,1,1,1,0,1,1,0,1,0,1,1,1,0,1,0,0,1,0,0,1,1,0,0,0,1,1,0,1,1,0,0,0,1,0,1,0,0,1,0,1,0,1,1,1,1,0,1,1,0,1,1,0,0],[0,1,1,1,0,1,0,1,0,1,0,0,1,0,1,1,1,1,1,1,0,1,1,1,1,0,1,1,0,0,1,1,0,0,0,1,1,1,0,0,1,1,0,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,1,0,1,0,1,1,1,0,0,0,0,0,0,1,0,1,1,1,0,1,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0],[0,0,1,1,1,0,1,0,1,1,0,1,1,1,1,0,0,1,0,0,1,1,1,0,0,0,0,0,0,1,1,0,0,0,1,1,1,0,1,0,1,0,0,0,1,0,1,0,0,1,0,0,0,1,1,0,1,1,0,1,1,1,1,0,1,1,0,1,0,1,1,1,0,0,1,1,0,1,1,1,1,0,1,1,0,1,0,1,1,0,0,1,1,1,1,0,1,1,0,1],[0,0,1,1,0,0,0,1,1,1,1,1,1,1,1,1,1,0,1,0,1,1,1,1,0,1,1,0,1,1,1,1,1,0,1,1,1,1,1,1,0,0,0,0,1,0,0,0,1,0,1,1,1,0,0,1,1,0,1,0,0,1,1,0,1,1,0,1,1,1,0,1,0,1,1,1,1,1,0,0,1,0,0,1,0,0,1,1,0,1,0,1,0,0,0,0,0,0,0,0],[1,1,0,0,1,0,1,1,0,1,1,0,0,1,1,1,0,0,1,0,1,1,0,1,1,0,1,1,1,0,1,0,0,0,0,0,0,0,1,0,0,1,1,1,0,0,1,0,1,1,0,1,0,0,1,1,1,0,0,1,1,1,1,0,0,0,1,1,1,1,1,1,1,1,0,0,0,0,1,0,0,1,1,0,1,0,1,1,0,0,1,1,1,0,0,1,1,1,0,1],[0,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,1,0,0,1,1,1,0,1,1,0,1,1,0,1,1,1,0,0,1,0,1,0,0,1,1,0,1,0,1,0,0,0,1,1,0,1,1,0,0,0,1,0,0,1,0,1,1,0,0,1,0,1,0,0,1,0,1,1,1,0,0,1,1],[1,0,1,1,1,1,1,1,0,0,0,1,0,0,1,1,1,0,0,0,0,1,1,1,1,1,0,1,1,1,0,1,1,1,0,1,0,0,1,1,1,0,0,1,0,0,0,0,1,0,0,0,1,1,1,1,1,1,1,1,0,1,1,0,1,1,0,1,1,1,0,1,0,0,0,1,0,0,0,0,0,1,0,1,1,1,0,1,0,0,1,1,1,1,1,1,0,1,0,0],[0,0,1,1,0,1,1,1,0,1,1,1,1,0,0,0,1,0,1,1,0,0,1,1,1,0,1,0,0,1,1,0,0,1,0,1,0,1,0,0,1,1,1,1,1,1,0,0,0,1,0,1,0,1,0,1,0,0,0,0,0,0,1,0,0,1,0,1,1,0,0,1,1,0,0,1,1,0,1,1,1,1,0,1,1,0,1,1,1,1,0,1,0,0,1,1,0,0,0,1],[0,0,0,0,1,1,1,0,0,0,1,0,0,1,0,1,1,1,0,1,0,1,0,1,1,0,0,1,0,0,0,0,0,1,0,0,0,1,1,1,1,0,1,1,0,1,0,0,1,1,0,1,0,1,0,0,0,0,1,1,0,0,0,1,0,1,1,0,0,0,0,1,0,1,1,1,0,1,1,1,1,0,0,0,0,0,1,0,0,1,0,1,1,0,0,1,0,1,1,1],[0,1,1,1,0,1,0,0,1,1,1,0,1,1,0,0,1,1,1,1,0,0,1,1,1,0,1,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,1,1,1,1,0,0,1,0,0,1,1,1,1,0,1,0,1,0,1,0,1,1,1,1,1,1,0,1,1,1,1,0,1,1,0,1,1,0,1,1,1,0,1,1,1,0,0,0,0,0],[1,0,1,0,0,0,1,1,0,1,0,0,0,0,1,1,0,1,0,0,1,0,1,0,1,0,0,1,0,1,1,0,0,0,1,1,0,1,0,1,1,1,1,0,0,1,1,1,0,1,1,1,0,0,0,1,1,1,1,1,1,1,0,1,1,1,1,0,1,0,0,0,1,0,0,1,1,0,0,1,0,0,1,1,1,1,1,0,0,0,0,1,1,0,1,1,1,1,0,1],[0,1,0,0,1,1,1,1,0,0,1,1,1,0,0,0,1,1,0,1,0,0,0,0,1,1,0,1,0,0,0,0,0,1,1,1,0,1,0,1,1,1,1,0,1,1,0,0,1,1,0,0,1,0,1,0,0,0,1,1,1,0,1,0,0,1,1,1,0,1,1,1,0,1,0,1,0,0,1,1,1,1,0,0,0,0,1,0,0,1,0,1,1,0,0,1,0,1,1,1],[0,0,0,0,0,0,0,1,1,0,1,1,1,1,1,1,0,1,0,0,1,0,1,0,0,1,1,0,1,0,1,0,1,0,1,0,0,1,1,1,0,1,1,0,1,0,1,0,0,1,1,0,1,1,0,1,0,1,0,1,1,1,1,0,1,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0,0,0,1,1,1,0,0,1,1,0,0,0,1,0,0,1,0,0,0,1],[1,1,1,0,0,0,0,0,1,0,1,1,1,0,0,0,0,1,0,1,1,0,1,0,0,1,1,1,1,0,1,0,1,1,0,1,1,1,0,0,1,0,1,0,1,1,1,1,0,0,0,1,1,0,1,1,1,1,1,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,1,0,0,1,1,0,0,1,1,1,1,0,0,0,1],[1,1,1,0,1,0,1,0,0,0,0,0,0,1,0,0,1,1,1,1,1,1,1,0,1,0,0,1,1,0,0,0,0,0,1,0,1,0,1,0,0,1,0,1,0,1,1,0,0,0,0,0,1,1,0,0,1,1,0,1,0,1,1,1,0,0,1,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,1,0,0,1,1,1,0,0,1],[0,1,0,0,0,0,1,1,1,1,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,1,1,1,1,1,1,0,0,1,1,0,0,0,1,0,0,1,0,0,1,0,1,0,1,1,1,0,1,1,0,1,0,1,0,0,1,1,1,1,0,1,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,1,1,0,1,0,0,1,0,1,0,1,1],[0,1,0,0,1,0,1,0,0,0,1,1,1,0,1,1,1,1,0,0,0,1,1,0,1,1,0,1,0,0,1,1,0,0,0,1,1,0,1,1,1,0,1,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,1,1,0,0,0,1,1,0,1,1,0,0,1,0,0,1,0,0,1,0,1],[1,0,1,1,1,0,1,1,0,0,0,0,1,1,1,0,0,0,0,0,0,0,1,1,1,0,0,0,1,1,1,1,1,0,1,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,0,1,0,1,1,1,1,0,1,0,0,0,1,0,0,0,1,1,0,0,0,1,1,1,0,1,0,0,0,1,1,0,1,0,0,0,0,1,1,1,1,1,0,0,0,0,0,0],[1,1,1,0,1,1,1,1,1,0,0,0,1,1,0,1,0,1,0,1,0,0,1,0,0,0,0,0,1,1,0,1,1,1,0,1,0,1,0,0,0,0,1,0,0,1,1,0,1,0,1,0,1,0,1,1,0,1,0,0,0,0,1,0,0,1,1,0,1,1,1,1,0,0,1,1,0,0,0,1,1,1,1,1,1,1,0,1,1,1,0,0,0,0,0,0,0,1,0,1],[1,1,1,0,1,0,1,1,0,0,1,1,1,0,1,0,1,1,1,0,0,0,0,0,0,0,0,1,1,1,0,0,0,1,1,0,1,0,1,1,0,1,1,0,0,1,0,0,0,0,0,1,1,1,0,0,1,0,0,1,1,0,1,0,0,0,0,0,0,1,0,1,1,0,1,1,1,1,1,1,1,0,0,1,1,0,0,1,0,0,0,1,1,0,0,0,0,1,0,0],[1,0,1,1,0,0,0,1,1,1,0,1,1,0,1,0,0,0,0,1,0,1,1,1,0,0,1,1,0,1,0,1,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1,1,0,1,0,0,0,0,1,1,0,1,0,0,0,1,1,0,1,1,0,1,1,0,0,0,0,0,0,1,0,1,0,1,1,0,1,0,0,0,1,0,0,1,0],[0,1,1,1,1,0,1,1,0,0,0,0,0,1,1,0,1,0,0,0,0,1,0,1,1,0,1,1,1,1,0,0,1,1,1,0,1,0,0,0,0,1,0,1,1,1,1,0,1,0,1,0,1,1,1,0,1,0,0,1,0,1,1,0,0,1,1,1,0,0,0,1,1,1,1,0,0,1,0,0,1,1,0,1,0,0,0,1,0,1,1,0,1,0,1,1,0,1,1,1],[1,1,1,0,0,0,0,0,0,1,1,1,1,1,1,1,0,0,1,1,0,0,1,0,1,0,1,1,0,0,0,1,0,1,1,0,0,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,0,0,0,0,1,0,1,1,0,0,1,1,1,0,0,0,1,0,0,1,1,0,0,1,1,0,0,1,1,1,1,1,1,0,0,1,1,1,1,0,0,1,0],[1,0,0,1,0,0,0,1,1,1,0,0,0,1,0,1,1,1,0,1,0,1,1,0,1,0,0,0,1,1,0,1,1,0,0,1,1,0,1,0,1,0,1,0,0,1,1,0,0,0,0,0,0,1,0,1,0,1,1,1,1,0,1,0,0,0,0,1,0,1,0,0,1,0,1,0,0,1,1,1,0,0,1,0,0,0,1,1,0,0,0,0,1,0,1,1,0,0,1,0],[1,0,0,0,0,1,1,1,0,0,0,0,1,1,0,1,1,0,0,0,0,1,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1,1,0,1,1,1,0,0,0,0,1,1,1,1,1,0,0,0,0,1,1,0,1,1,0,0,1,1,0,0,1,1,1,0,1,0,0,0,1,1,0,0,1,0,0,0,1,0,0,0,0,0,1,1,0,0,0],[0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,1,1,0,0,1,0,1,1,1,1,1,0,0,0,0,1,0,1,0,1,0,1,0,1,1,1,0,1,1,1,0,0,0,1,1,0,0,1,0,0,1,1,0,1,0,0,0,1,1,0,1,0,0,1,0,0,1,0,0,1,1,1,0,1,1,1,1,0,0,0,0,1,0,0,1,1,1,0,1,1,1,0,1,0,1],[0,1,1,0,0,1,1,0,0,1,1,1,1,1,1,1,0,1,0,1,0,0,1,0,1,1,0,0,0,1,1,0,1,1,1,1,0,0,1,0,1,0,1,0,0,1,0,1,0,0,1,1,1,0,1,0,1,1,1,1,0,0,1,1,0,0,1,0,1,0,0,0,1,0,1,0,0,1,0,1,1,0,0,1,0,0,1,1,1,1,1,1,1,0,1,0,0,0,1,1],[0,1,1,0,1,1,0,1,1,1,1,0,0,0,1,0,1,1,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,1,1,1,0,1,0,0,1,1,0,0,0,1,0,1,1,0,1,0,1,0,1,1,0,1,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,1,0,1,1,0,1,0,1,0,1,1,0,1,0,1,1],[0,0,1,0,1,0,1,0,1,1,0,1,1,0,0,1,1,0,1,1,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,1,1,1,1,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,1,1,1,0,1,0,0,1,0,1,1,0,1,0,1,1,0,1,1,1,0,0,1,1,0,0,0,1,1,1],[0,0,0,1,1,1,1,1,1,0,1,0,0,1,1,1,0,0,1,1,0,1,0,1,1,1,0,0,1,0,0,1,1,1,1,0,1,0,1,1,0,1,0,1,1,0,0,1,1,0,1,1,0,0,1,0,0,1,1,1,0,0,1,0,0,1,1,0,1,1,0,1,1,1,1,1,1,0,0,1,1,1,0,0,1,0,1,0,0,1,0,1,0,0,0,1,0,1,1,0],[0,0,1,1,0,1,1,1,1,0,1,0,0,1,1,0,0,0,1,0,1,1,1,0,1,0,0,1,1,1,1,0,0,1,1,1,0,0,0,0,0,1,0,1,0,1,1,1,0,0,0,1,1,0,0,1,0,1,1,1,1,0,0,1,1,0,0,1,0,0,0,1,1,0,1,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,0,0,0,0,0,1,0,1,0],[1,1,0,1,0,0,1,1,0,1,1,1,1,1,0,1,1,0,0,0,0,1,1,0,0,1,1,0,0,0,0,0,1,1,1,1,0,1,0,0,1,1,0,1,0,0,1,0,1,0,1,0,0,0,1,0,1,1,0,1,0,1,0,0,1,0,1,0,0,1,1,1,0,1,0,1,1,0,1,1,1,0,1,0,0,0,0,1,1,0,1,0,0,0,1,1,1,1,0,1],[0,1,1,1,0,1,0,0,1,1,1,0,0,0,1,0,1,0,0,1,1,0,1,1,0,1,1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,1,1,1,1,0,1,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,1,0,1,1,1,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1],[1,0,1,1,1,1,1,0,0,0,1,1,0,0,0,0,1,1,1,0,1,0,1,1,0,1,1,1,1,1,0,0,1,0,0,1,0,1,1,0,1,1,1,1,0,1,0,1,1,0,0,0,1,0,1,0,1,0,0,0,1,0,0,0,1,0,1,1,1,0,0,0,0,1,1,1,1,1,1,1,1,0,0,1,0,1,1,1,1,1,0,0,1,1,0,0,1,1,0,1],[0,0,0,1,1,1,0,1,1,1,0,0,1,0,1,1,0,0,1,0,1,1,1,0,1,0,1,0,0,0,0,1,0,1,0,1,0,1,0,1,0,0,0,0,1,0,0,0,1,1,0,0,1,0,1,0,0,0,1,1,0,1,1,0,0,1,0,0,0,1,1,1,0,1,1,0,0,0,0,1,0,0,0,1,1,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0],[1,1,0,1,0,0,0,1,1,0,1,1,0,0,0,1,0,0,1,1,0,1,1,0,1,0,1,1,0,0,0,0,0,1,0,0,0,0,1,1,0,1,1,1,0,0,0,0,1,0,1,0,0,1,1,1,1,1,1,1,0,1,0,1,1,0,0,0,0,1,1,1,0,0,0,0,0,0,1,1,1,1,1,1,1,0,0,1,0,0,1,1,1,0,1,1,1,0,1,0],[0,0,0,1,1,0,1,1,0,0,0,0,1,1,0,0,0,1,0,1,0,1,1,1,1,1,1,1,0,1,0,0,1,1,1,0,1,0,1,1,0,1,0,1,0,0,1,0,0,1,1,0,1,0,1,0,1,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,1,1,0,0,0,0,0,1,1,1,0,0,1,0,1,1,1,1,1,0,0,1,1,1,1,1],[0,0,0,0,1,0,1,0,0,1,0,1,1,0,1,1,0,0,0,0,0,1,0,1,0,1,0,0,1,1,0,1,1,1,1,1,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,0,1,0,1,0,1,1,1,1,0,0,0,0,0,1,1,1,1,0,0,0,1,1,1,0,1,0,1,1,0,0,1,0,0,1,0,0,1,1,0,0,0,0,1,1,1,1,1,0],[1,1,1,1,0,0,1,0,0,1,1,1,0,1,0,0,1,0,1,0,0,0,0,0,1,1,1,0,1,0,1,0,0,1,1,1,0,1,1,1,1,0,1,0,0,0,1,1,1,1,1,1,0,0,1,1,0,1,1,1,0,1,1,0,0,0,1,1,1,0,1,0,0,1,0,0,0,1,1,1,1,0,1,1,1,1,1,1,1,0,0,0,1,1,1,0,1,0,0,1],[0,0,0,0,0,0,0,1,0,1,0,0,0,1,1,1,0,1,1,1,1,0,0,0,0,1,0,0,1,1,1,1,0,1,1,1,1,0,1,1,1,0,0,1,0,1,0,0,0,0,0,1,1,1,1,0,0,1,1,1,0,1,0,0,0,0,1,1,1,0,1,1,0,0,1,0,1,1,1,0,0,1,0,0,1,1,1,1,1,1,0,0,1,0,1,0,0,0,0,1],[0,0,0,1,0,1,0,0,1,0,1,1,0,1,1,0,0,1,0,0,1,0,0,0,0,1,1,1,0,1,0,0,1,1,1,1,1,0,1,0,0,1,1,0,1,0,1,1,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,1,1,0,1,1,1,0,1,0,0,0,0,1,0,1,0,0,1,1,1,0,1,0,0,1,1,1,1,1,1,0,1,0,1,0,0,0],[1,0,0,0,1,0,0,0,1,1,1,0,0,1,0,1,0,1,1,1,0,1,1,0,1,0,1,0,1,1,0,1,1,1,1,1,1,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,1,0,1,1,0,1,0,0,0,1,1,0,1,0,0,0,0,1,0,1,1,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,1,0,0],[1,0,0,0,1,0,1,0,0,1,1,0,1,1,1,0,1,0,0,1,1,1,0,0,1,0,1,1,1,0,1,1,0,0,1,1,0,1,0,1,1,1,0,1,0,1,1,0,0,0,1,0,0,1,0,1,0,1,0,1,1,1,1,1,1,0,1,1,1,1,0,1,0,0,1,0,0,0,0,1,1,1,0,0,0,0,0,1,0,0,1,0,1,1,1,1,1,1,1,1],[1,1,1,0,0,0,1,0,1,0,1,0,1,0,1,1,0,1,0,1,1,1,0,0,1,1,1,1,1,0,1,0,0,0,0,0,1,1,1,0,1,0,0,1,1,0,1,0,0,0,1,1,0,0,1,1,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,1,1,0,1,1,1,1,1,0,1,1,0,1,1,0,0,1,0,1,1,1,1,1,1,1,0,0,1,0],[1,0,0,0,1,0,0,0,1,0,1,1,0,0,1,1,1,1,1,1,1,0,1,0,1,1,1,1,1,1,1,0,0,1,1,0,1,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,1,1,1,0,0,0,0,0,0,1,0,1,0,0,1,1,1,1,0,1,0,0,0,0,0,1,0,0,1,0,1,1,0,0,1,0,0,1,1,1,1,0,0,1,1,0,0,0],[0,0,1,0,1,1,1,0,1,1,1,0,0,0,0,0,1,0,0,1,1,0,0,1,0,0,0,1,1,0,1,1,1,0,1,0,0,1,0,0,1,1,1,0,1,1,0,1,1,0,1,1,1,1,1,1,0,0,1,1,1,0,1,0,0,1,0,0,1,1,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,1,1,1,1,0,1,0,1,0,0,0,0,0,0,0],[0,1,0,1,1,1,0,1,0,0,0,1,0,1,1,1,0,0,0,0,0,0,1,1,0,1,0,0,1,0,1,1,1,1,1,1,1,1,0,0,0,0,1,1,0,0,1,1,0,1,0,1,0,0,0,1,0,0,1,1,0,1,1,0,1,1,1,1,1,1,1,0,0,1,0,0,1,0,0,1,0,1,0,1,0,1,0,1,1,0,1,1,0,1,0,0,1,0,1,1],[0,0,1,0,1,0,1,0,1,1,1,0,1,1,0,0,1,1,1,1,0,1,1,1,0,0,0,1,0,1,1,0,1,0,1,1,0,1,1,1,0,1,1,1,0,1,1,1,1,0,1,1,0,0,1,0,0,0,1,1,0,1,0,1,1,0,0,0,1,1,1,0,0,0,0,1,1,0,1,1,1,1,1,1,1,1,0,1,1,1,0,0,0,1,0,1,0,0,1,0],[1,1,1,0,1,0,0,1,1,1,1,1,0,0,0,0,1,1,1,0,1,1,1,1,0,1,1,1,0,1,1,0,0,1,0,0,0,0,0,1,1,0,0,1,1,0,1,0,0,0,0,1,0,1,0,1,0,0,1,0,0,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,1,1,1,1,1,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1],[0,1,0,1,1,1,1,0,1,0,1,0,0,0,1,0,1,0,1,0,1,1,1,1,1,1,0,1,0,1,0,1,0,0,1,1,0,0,1,0,1,1,0,1,1,1,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,1,1,1,0,1,0,1,1,0,1,1,1,0,1,0,1,1,0,0,1,1,1,0,0,1,0,0,0,1,0,1,0],[1,0,0,1,0,1,1,0,0,1,1,0,0,0,0,1,1,1,1,1,0,0,1,0,1,1,1,1,1,0,1,1,0,1,1,1,0,1,0,0,0,0,0,0,1,1,0,0,0,1,1,0,1,1,1,0,0,0,0,0,0,1,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,1,0,1,0,1,1,1,1,0,1,1,1,1,0,0,0,0,1,0,0,1,0,1],[0,1,1,0,0,1,1,1,1,0,1,1,0,1,0,1,1,1,1,1,1,0,1,1,0,1,1,1,1,0,0,1,0,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,0,1,0,1,1,1,0,1,0,0,0,1,1,0,1,0,1,0,1,0,1,1,1,0,0,0,0,0,1,1,0,0,0],[0,1,1,0,0,0,1,1,1,0,1,1,0,1,1,1,1,0,1,0,0,0,0,0,0,1,1,0,1,1,0,1,1,0,1,1,1,1,1,0,0,1,1,0,0,1,1,0,1,1,0,1,0,0,1,0,0,1,1,1,1,0,0,1,0,1,1,1,0,1,0,0,1,1,0,1,1,1,0,1,0,1,1,1,0,1,1,0,0,0,0,0,0,1,0,1,0,0,0,0],[0,1,0,0,0,1,1,0,0,1,1,0,1,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,1,1,1,1,1,0,1,1,1,0,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,1,0,1,1,1,1,0,1,0,0,0,1,0,0,0,1,1,0,1,0,1,1,0,0,1,0,0,1,0,0,1,0,1,0,1],[0,1,0,1,0,0,0,0,0,0,0,0,1,1,1,0,0,1,1,1,0,1,0,0,1,1,1,1,0,0,0,0,1,0,1,0,0,1,1,1,0,0,1,0,0,1,1,0,0,1,1,0,0,0,1,1,1,0,1,1,0,1,0,0,0,0,1,0,1,1,0,0,1,1,1,0,0,1,1,1,0,1,1,0,1,1,0,0,1,0,1,1,0,0,0,1,0,1,0,0],[0,1,0,0,0,0,1,0,0,1,1,0,0,0,1,1,1,1,1,1,0,0,1,0,1,0,0,0,1,0,0,1,1,1,0,0,1,1,1,1,1,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,1,1,1,0,0,1,1,1,1,0,1,1,0,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,1,0,1,1,1,0,0],[0,0,1,1,1,1,0,1,0,1,1,1,0,1,1,1,0,1,1,1,1,0,1,0,0,0,0,0,0,0,1,1,1,0,1,1,0,0,1,1,1,1,0,1,1,0,1,1,0,0,1,1,0,1,1,0,1,0,0,0,0,0,1,1,0,0,0,1,1,1,0,1,0,0,1,0,0,1,0,1,1,1,0,1,0,1,1,1,0,0,0,0,0,0,0,1,1,0,0,0],[0,1,0,0,0,0,0,1,1,0,0,1,0,1,0,1,1,1,0,1,1,0,0,1,0,1,1,0,0,0,0,0,1,1,1,1,1,1,1,1,0,0,0,1,0,1,0,0,1,1,0,0,0,1,1,1,1,1,0,1,1,0,1,1,0,0,1,0,0,1,1,0,0,1,1,1,0,1,1,0,0,0,1,1,1,1,0,0,1,1,1,1,1,1,0,1,0,1,1,1],[1,1,1,0,1,1,1,1,0,0,0,0,1,1,1,0,0,0,0,1,1,1,0,0,1,0,0,1,1,0,0,1,1,1,0,0,1,0,0,0,0,0,1,1,1,1,1,0,1,0,0,0,1,1,0,1,1,1,0,1,1,1,0,1,0,1,0,0,1,1,0,0,0,0,1,0,1,1,1,1,1,1,0,0,0,0,0,1,0,1,0,0,1,1,1,0,0,1,1,1],[1,0,0,0,0,0,0,1,1,0,0,0,1,1,1,1,0,1,1,0,1,1,0,1,1,0,0,0,0,1,1,1,1,1,0,1,0,0,1,0,1,1,0,0,1,0,1,0,0,1,1,0,0,0,1,1,0,0,1,0,1,1,1,1,0,0,1,1,1,1,1,0,1,0,0,1,0,1,0,0,0,0,1,1,0,0,1,0,1,0,1,1,0,1,1,0,0,0,0,0],[1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,1,0,1,0,1,0,0,1,0,0,1,1,0,0,0,1,1,0,1,0,0,0,0,1,1,0,1,1,1,0,1,0,1,0,0,0,1,1,1,0,0,1,0,0,0,1,1,0,0,0,0,0,1,1,0,1,0,0,0,0,1,0,1,0,1,1,0,0,1,1,1,1,0,0,0,0,0,0,1,1,0],[1,1,1,0,1,0,0,0,0,1,0,1,0,1,1,1,0,1,0,0,1,0,0,0,0,1,1,1,1,1,1,1,0,1,1,1,1,0,1,1,0,1,1,0,1,1,0,0,0,0,1,0,0,0,1,1,0,1,1,1,0,0,1,0,1,0,0,0,1,0,1,1,0,0,1,0,0,0,1,0,0,0,0,1,1,0,0,1,0,0,0,1,0,0,1,1,0,0,1,1],[1,0,0,1,0,1,0,1,1,0,1,1,1,0,1,1,1,1,0,1,1,1,0,0,1,0,1,1,0,0,0,0,1,0,0,0,0,1,0,1,1,1,1,1,0,0,0,1,0,0,1,0,1,0,1,0,0,1,1,1,1,1,1,0,0,0,0,0,1,0,1,1,1,1,0,1,1,1,0,0,0,1,0,1,0,0,1,0,0,1,1,1,0,0,0,0,0,1,0,0],[1,0,1,1,0,0,1,1,1,0,1,0,0,1,0,1,0,1,1,0,1,0,0,0,0,1,0,0,0,1,0,0,1,1,1,1,0,1,1,1,0,0,1,1,0,0,1,0,0,1,0,1,0,1,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,1,0,0,0,0,0,0,1,1,1,0,1,1,1,1,1,0,0,0,1,0,1,0],[1,0,0,0,1,0,0,0,1,1,0,1,0,0,0,0,1,1,1,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,0,0,1,0,1,1,0,1,1,0,0,1,1,0,0,1,1,1,1,1,1,0,1,1,1,1,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,1,1,1,0,1,0,1,0,1,1,1,1,0],[1,0,0,1,0,1,0,1,0,1,0,1,0,1,1,1,0,0,0,1,0,1,0,0,0,1,0,1,1,0,1,0,0,0,0,1,1,0,0,0,0,1,1,1,0,1,1,0,0,0,1,1,0,1,0,1,0,0,1,0,1,0,0,0,1,0,0,0,1,1,1,0,1,1,1,1,0,0,0,1,1,0,0,0,0,0,0,0,1,1,0,1,0,1,1,0,0,1,0,0],[0,1,0,0,0,0,1,1,1,1,1,0,0,1,0,1,1,0,1,1,1,1,0,0,1,0,0,0,0,0,1,1,1,1,0,1,0,1,0,0,0,1,0,0,1,0,1,1,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,1,0,0,1,0,0,0,1,0,1,0,0,1,1,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,1,0,1,0,0,1],[1,1,1,1,1,0,1,1,1,1,0,0,0,1,0,0,0,0,0,1,0,1,1,1,0,0,0,0,0,1,1,0,1,1,1,0,0,1,1,1,0,0,1,1,1,0,0,0,1,1,1,0,0,1,0,1,1,1,0,0,0,0,0,0,1,1,0,1,0,0,1,1,0,1,1,1,0,0,0,1,0,0,1,0,0,0,0,1,0,1,1,1,1,0,1,0,1,0,0,0],[0,1,0,1,1,0,1,1,1,1,0,0,0,1,0,0,0,1,0,1,1,1,0,0,1,1,0,0,1,0,0,0,0,0,1,0,1,1,0,1,1,1,1,0,1,0,0,1,1,0,1,1,0,0,1,1,1,1,0,1,1,0,0,0,0,1,0,1,1,0,1,1,0,0,0,1,0,0,0,1,0,0,1,0,1,0,1,0,0,1,0,0,0,1,1,0,1,1,0,1],[0,1,1,1,0,0,0,1,0,1,0,1,0,0,1,1,0,0,1,1,0,0,1,1,0,1,0,1,0,1,1,1,1,0,0,0,0,0,0,0,1,1,1,1,1,0,0,0,1,1,0,1,1,1,0,0,1,0,1,1,0,0,0,1,0,1,0,0,1,1,0,1,1,0,1,0,1,1,1,0,0,1,1,0,0,0,1,1,1,1,0,0,0,0,0,1,1,0,1,1],[0,1,0,0,1,1,0,0,0,0,1,0,1,1,1,1,0,1,0,0,1,1,0,1,1,0,0,1,1,0,0,1,0,0,1,0,1,0,0,0,0,1,1,1,1,0,1,1,1,1,0,1,1,1,0,1,1,1,0,0,1,1,0,0,0,1,1,0,1,0,1,0,1,0,0,1,1,1,1,0,0,1,1,0,0,1,0,1,1,0,0,1,0,0,1,0,0,1,0,1],[1,1,1,1,1,0,1,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1,1,0,0,1,1,0,0,0,0,0,0,1,1,1,0,1,0,1,1,0,0,1,0,1,1,0,0,0,1,0,0,0,1,1,1,1,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,1,1,1,0,0,0,0],[0,0,1,0,1,1,1,1,1,1,0,1,0,1,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,1,0,0,0,0,1,1,1,1,1,1,0,0,1,0,1,0,1,1,0,1,1,1,0,0,1,0,0,1,1,1,0,0,1,1,1,0,1,0,0,1,0,0,1,0,1,0,1,1,1,1,0,1,1,0,1,0,1,0,1,0,1,1,0,1,1,1,1,1,1,0],[0,1,1,1,0,1,1,0,1,0,0,1,0,0,1,1,0,0,0,1,0,1,1,0,1,1,0,0,0,0,0,1,1,1,1,1,1,1,0,1,0,1,0,1,1,1,1,1,1,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0,1,1,0,0,0,1,1,0,1,0,0,0,0,1,1,0,1,0,0,1,1,1,0,1,1,0,1,1,0,0,0,0,0,0,0,1],[0,1,0,0,1,1,1,1,0,0,0,1,1,1,1,1,1,0,1,1,1,0,1,0,1,0,0,0,0,0,1,1,1,0,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,1,1,0,0,1,1,1,1,0,0,1,1,1,0,1,1,1,0,0,0,0,1,1,1,0,0,1,0,0,1],[0,0,0,1,1,1,1,1,1,1,1,1,1,1,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,1,1,0,1,1,0,0,0,1,0,0,1,1,1,1,0,0,0,1,1,0,1,1,0,1,0,1,1,1,0,0,1,1,0,0,0,0,1,1,0,0,0,1,0,1,0,0,0,1,0,1,0,0,1,1,0,0,1,0,0,1,1,1,1,0,0,0,0],[1,1,1,0,1,0,0,0,1,1,1,1,1,0,1,0,1,0,0,0,1,1,0,0,1,0,0,1,0,0,0,1,0,1,1,1,0,1,1,1,0,1,1,1,1,0,0,0,0,1,0,1,1,0,1,1,1,1,1,0,1,0,1,1,1,0,1,0,1,0,0,0,1,1,0,0,1,1,1,1,1,0,1,1,1,0,1,0,1,0,1,1,0,1,1,1,1,0,1,1],[1,1,0,0,1,0,0,0,0,0,0,1,0,1,1,0,1,0,1,0,0,1,1,1,0,1,0,0,0,0,1,1,1,0,1,1,1,1,1,0,1,1,1,0,0,1,0,0,0,0,0,1,0,1,0,1,1,0,1,1,1,1,1,1,1,1,1,1,0,1,1,0,1,0,1,1,0,0,1,0,0,1,0,1,0,0,1,1,1,1,0,1,0,1,1,1,1,0,0,0],[1,1,1,1,0,0,1,1,1,1,0,1,0,1,0,0,1,0,1,0,1,1,1,0,1,0,1,1,0,0,0,0,1,0,0,0,0,1,0,1,1,0,0,0,1,0,0,1,1,1,0,1,0,1,1,0,1,1,1,1,1,1,0,0,0,1,0,0,1,1,1,0,1,0,1,0,0,1,0,1,0,1,1,0,0,1,1,0,1,1,0,0,1,1,1,0,1,1,1,0],[1,0,0,0,0,1,1,1,0,1,1,1,1,0,1,1,0,0,1,0,1,0,0,0,1,1,1,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0,1,1,0,1,1,0,0,1,1,1,0,0,0,1,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,1,1,1,0,1,1,0,0,0,0,0,1,1,0,1,0,0,1,0,0,0,0],[0,0,0,1,0,0,1,1,1,1,1,1,1,0,1,0,0,0,0,1,1,1,0,1,0,1,0,1,0,0,1,1,0,0,1,0,1,1,1,0,0,1,1,1,0,1,1,0,1,1,1,0,1,0,1,0,0,0,1,1,0,0,0,1,0,0,0,1,1,1,1,0,0,1,1,1,0,1,1,0,1,1,0,1,0,0,1,1,1,0,0,1,0,1,1,0,1,0,1,0],[0,0,1,1,0,0,1,1,0,0,1,1,1,0,0,0,1,0,1,1,0,1,1,0,0,1,1,0,1,0,0,0,0,1,1,1,0,1,0,0,0,1,1,0,1,1,1,1,1,1,1,0,0,1,1,1,1,0,1,0,0,1,1,1,0,1,0,0,1,1,0,1,1,1,0,1,0,1,1,0,0,0,1,1,1,1,1,1,0,1,0,1,0,1,1,1,1,0,1,1],[1,1,1,0,0,0,0,0,1,1,1,0,1,0,1,0,1,0,0,0,1,0,1,0,1,1,0,1,0,0,1,0,1,1,0,1,1,1,1,1,1,1,1,0,0,0,0,0,1,0,1,0,1,0,0,0,1,1,0,1,0,1,0,1,1,1,0,1,1,1,0,1,0,1,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,1,0,1,1],[0,0,1,1,0,1,1,0,0,0,1,0,1,0,1,1,0,0,1,1,0,1,1,1,1,1,0,0,0,1,1,0,1,1,0,1,0,1,1,0,1,1,1,1,0,1,0,0,1,0,0,0,0,0,0,0,0,1,1,1,0,1,1,1,1,0,0,1,1,1,0,0,0,1,0,1,0,0,0,0,1,0,1,0,0,0,1,1,0,0,1,1,0,1,1,1,0,1,1,0],[1,1,0,1,1,0,0,1,1,1,0,1,0,0,1,1,0,1,1,0,1,1,0,1,0,0,0,0,1,0,1,0,0,1,1,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0,1,1,1,1,0,0,1,0,1,1,1,1,1,0,1,1,0,1,1,0,1,0,0,0,1,1,1,1,0,0,1,0,1,1,1,0,1,1,0,0,0,1,0,0,1,1]]')
            for (let i = 0; i < this.height; i++) {
                this.arrFields[i] = [];
                for (let j = 0; j < this.width; j++) {
                    if (tempArr[i][j]) {
                        this.arrFields[i].push(j);
                    }
                }
            }
            console.time('Function #2');
            for(var i = 0; i < 2000; i++ ){
                this.functionTwo();
            }
            console.timeEnd('Function #2')
        }

        functionOne() {
            let tempArrFields = [];
            for (let i = 0; i < this.height; i++) {
                tempArrFields[i] = this.arrFields[i].slice();
                for (let j = 0; j < this.width; j++) {
                    let count = this.getLifeNeighbors(i, j);

                    if (this.arrFields[i][j] && count !== 2 && count !== 3) {
                        this.ctx.clearRect(j * this.size, i * this.size, this.size, this.size);
                        this.ctx.fillStyle = "black";
                        this.ctx.strokeRect (j * this.size, i * this.size, this.size, this.size);
                        tempArrFields[i][j] = 0;
                    } else if (!this.arrFields[i][j] && count === 3) {
                        this.ctx.fillStyle = "black";
                        this.ctx.fillRect(j * this.size, i * this.size, this.size, this.size);
                        tempArrFields[i][j] = 1;
                    }
                }
            }
            for (let i = 0; i < this.height; i++) {
                this.arrFields[i] = tempArrFields[i].slice();
            }
        }

        functionTwo() {
            let tempArrFields = [];
            let checkedPoint = [];
            tempArrFields[0] = [];
            for (let row = 0; row < this.height; row++) {
                tempArrFields[row] = [];
                checkedPoint[row] = [];
            }

            for (let i = 0; i < this.height; i++) {
                for (let j = 0; j < this.arrFields[i].length; j++) {
                    for (let l = -1; l < 2; l++) {
                        for (let k = -1; k < 2; k++) {
                            let coord = this.checkCoordinates(i + l, this.arrFields[i][j] + k);
                            let m = coord[0];
                            let n = coord[1];
                            if (checkedPoint[m].indexOf(n) === -1 && this.checkPoint(m, n)) {
                                checkedPoint[m].push(n);
                                if (tempArrFields[m].indexOf(n) === -1) {
                                    tempArrFields[m].push(n);
                                }
                            }
                        }
                    }
                }
            }
            for (let i = 0; i < this.height; i++) {
                this.arrFields[i] = tempArrFields[i].slice();
            }
        }
    }
</script>
{% endblock %}
