{% extends 'base.html.twig' %}

{% block meta_title %}Game Of Life{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Game Of Life{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="game-of-life-width">Width</label>
                <input type="number" class="form-control" id="game-of-life-width" value="100">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="game-of-life-height">Height</label>
                <input type="number" class="form-control" id="game-of-life-height" value="100">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto p-3">
            <button class="btn btn-primary" onclick="window.gameOfLife.draw()">Create</button>
        </div>
        <div class="col-auto p-3">
            <button class="btn btn-success" onclick="window.gameOfLife.start()">Start</button>
        </div>
        <div class="col-auto p-3">
            <button class="btn btn-danger" onclick="window.gameOfLife.stop()">Stop</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <canvas id="game-of-life" class="m-3"></canvas>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('game_of_life') }}
{% endblock %}
